<div id="header">
    <h1>Presence analyzer</h1>

    <ul>
        <li {% if request.path == '/presence_weekday' or request.path == '/' %}id="selected"{% endif %}><a href="{{ url_for('static_page', page_name='presence_weekday') }}">Presence by weekday</a></li>
        <li {% if request.path == '/mean_time_weekday' %}id="selected"{% endif %}><a href="{{ url_for('static_page', page_name='mean_time_weekday') }}">Presence mean time</a></li>
        <li {% if request.path == '/presence_start_end' %}id="selected"{% endif %}><a href="{{ url_for('static_page', page_name='presence_start_end') }}">Presence start-end</a></li>
    </ul>
</div>
