<%inherit file='base.html'/>

<%block name='js'>
    <script type="text/javascript">
        $(function() {
            var $loading = $('#loading'),
                avatarById = {};

            $.getJSON('/api/v1/users', function(result) {
                var $dropdown = $('#user-id');

                $.each(result, function() {
                    avatarById[this.user_id] = this.avatar;

                    $dropdown.append($('<option />', {
                       'val': this.user_id,
                       'text': this.name
                    }));
                });

                $dropdown.show();
                $loading.hide();
            });

            $('#user-id').change(function(){
                var selectedUser = $('#user-id').val(),
                    $chartDiv = $('#chart-div'),
                    $errorDiv = $('#error-msg');

                $errorDiv.hide();
                $chartDiv.hide();
                avatarLoad();

                if(selectedUser) {
                    $loading.show();

                    $.getJSON('/api/v1/presence_weekday/' + selectedUser, function(result) {
                        var data = new google.visualization.arrayToDataTable(result),
                            chart = new google.visualization.PieChart($chartDiv[0]),
                            options = {
                                width: 750
                            };

                        chart.draw(data, options);
                    })
                        .success(function () {
                            $chartDiv.show();
                            $loading.hide();
                        })
                        .error(function () {
                            $errorDiv.text('User has no data.').show();
                        })
                        .complete(function () {
                            avatarLoad(avatarById[selectedUser]).show();
                        });
                }
            });
        });
    </script>
</%block>

<%block name='header'>Presence by weekday</%block>
