<%inherit file='base.html'/>

<%block name='js'>
    <script type="text/javascript">
        $(function() {
            var $loading = $('#loading'),
                avatarById = {};

            $.getJSON('/api/v1/users', function(result) {
                var $dropdown = $('#user-id');

                $.each(result, function() {
                    avatarById[this.user_id] = this.avatar;

                    $dropdown.append($('<option />', {
                       'val': this.user_id,
                       'text': this.name
                    }));
                });

                $dropdown.show();
                $loading.hide();
            });

            $('#user-id').change(function(){
                var selectedUser = $('#user-id').val(),
                    $chartDiv = $('#chart-div'),
                    $errorDiv = $('#error-msg');

                $errorDiv.hide();
                $chartDiv.hide();
                avatarLoad();

                if(selectedUser) {
                    $loading.show();

                    $.getJSON('/api/v1/presence_start_end/' + selectedUser, function(result) {
                        var data = new google.visualization.DataTable(result),
                            chart = new google.visualization.Timeline($chartDiv[0]),
                            formatter = new google.visualization.DateFormat({
                                pattern: 'HH:mm:ss'
                            }),
                            options = {
                                hAxis: {
                                    title: 'Weekday'
                                },
                                width: 750
                            };

                        $.each(result, function(index, value) {
                            value[1] = parseInterval(value[1]);
                            value[2] = parseInterval(value[2]);
                        });

                        data.addColumn('string', 'Weekday');
                        data.addColumn({
                            type: 'datetime',
                            id: 'Start'
                         });
                        data.addColumn({
                            type: 'datetime',
                            id: 'End'
                         });
                        data.addRows(result);

                        formatter.format(data, 1);
                        formatter.format(data, 2);
                        chart.draw(data, options);
                    })
                        .success(function () {
                            $chartDiv.show();
                            $loading.hide();
                        })
                        .error(function () {
                            $errorDiv.text('User has no data.').show();
                        })
                        .complete(function () {
                            avatarLoad(avatarById[selectedUser]).show();
                        });
                }
            });
        });
    </script>
</%block>

<%block name='header'>Presence start-end weekday</%block>
